<section>
	<input type="text" name="city" placeholder="City" [(ngModel)]="city" />
	<select name="country" [(ngModel)]="country">
		<option *ngFor="let country of countries" value={{country}}>{{country}}</option>
	</select>
	<button type="submit" (click)="search()">Search</button>
</section>
<section>
	<h2>{{result.name}} {{result.country}} {{cityWeather.currently.time}}</h2>
</section>
<section>
	<h3>{{cityWeather.currently.summary}}</h3>
	<div>
		<i [class]="weatherIcon(cityWeather.currently.icon)"></i>
	</div>
</section>
