@import "~sass/styles";

.search-city {
  padding: 5px;

  ._search-city__header {}

  ._search-city-containers {
    display: flex;

    @include respond-to(sm-max) {
      flex-direction: column;
    }

    ._search-city-containers__container {
      padding: 10px 0;
      width: 50%;

      @include respond-to(sm-max) {
        width: 100%;
      }

      .wi {
        margin: 10px 0;
      }

      &:last-child {
        border: none;
      }
    }
  }

  ._search-city__days {
    display: flex;

    ._search-city-days__day {
      align-items: center;
      border: 1px solid blue;
      display: flex;
      flex-direction: column;
      width: 20%;
    }
  }

}
