@import "~sass/styles";

.search-city {

  ._search-city__header {
    background-color: $light-grey;
    padding: 10px;
  }

  h1 {
    font-size: 3em;
    padding: 10px;
  }

  ._search-city-containers {
    display: flex;
    padding: 10px;

    @include respond-to(sm-max) {
      flex-direction: column;
    }

    ._search-city-containers__container {
      display: flex;
      padding: 10px 0;
      width: 50%;

      @include respond-to(sm-max) {
        // flex-direction: column;
        width: 100%;
      }

      ._search-city-containers-container__content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        >:first-child {
          // width: 30%;

          @include respond-to(sm-max) {
            width: 50%;
          }
        }

        .wi {
          align-items: center;
          display: flex;
          font-size: 48px;
          padding: 0 50px 0 0;
        }
      }
    }
  }

  ._search-city__days {
    display: flex;

    ._search-city-days__day {
      align-items: center;
      border: 1px solid blue;
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      width: 20%;

      ._search-city-days_day__day {
        font-size: 18px;
        font-weight: bold;
      }

      ._search-city-days_day__summary {
        align-items: center;
        display: flex;
        min-height: 70px;
        padding: 0 10px;
        text-align: center;
      }

      ._search-city-days_day__icon {
        align-items: center;
        display: flex;
        min-height: 50px;

        .wi {
          font-size: 28px;
        }
      }

      ._search-city-days_day__temperature {
        align-items: center;
        display: flex;
        font-weight: bold;
        min-height: 30px;

        span {
          font-size: 16px;
        }
      }
    }
  }

}
