<div class="search-city">
	<section class="_search-city__header">
		<select name="city" [(ngModel)]="cityObj">
			<option *ngFor="let city of cities" [ngValue]="city">{{city.city}}, {{city.country}}</option>
		</select>
		<button type="submit" (click)="search()">Search</button>
	</section>
	<h1 *ngIf="isData">{{result.name}}</h1>
	<div class="_search-city-containers">
		<div *ngIf="isData" class="_search-city-containers__container">
			<h2>{{cityWeather.today.time}}</h2>
			<section>
				<h3>{{cityWeather.today.summary}} / {{cityWeather.today.temperature}}&deg; /
						{{cityWeather.today.windSpeed}} km/h {{cityWeather.today.windDirection}}</h3>
				<h3>Humidity: {{cityWeather.today.humidity}}%</h3>
				<h3>Sunrise: {{cityWeather.today.sunriseSunset.sunrise}} EST</h3>
				<h3>Sunset: {{cityWeather.today.sunriseSunset.sunset}} EST</h3>
				<i [class]="weatherIcon(cityWeather.today.icon)" title="{{cityWeather.today.summary}}"></i>
			</section>
		</div>
		<div *ngIf="isData" class="_search-city-containers__container">
			<section>
				<h1>Tomorrow</h1>
				<h3>{{cityWeather.tomorrow.summary}} / {{cityWeather.tomorrow.temperature}}&deg; /
						{{cityWeather.tomorrow.windSpeed}} km/h {{cityWeather.tomorrow.windDirection}}</h3>
				<h3>Humidity: {{cityWeather.tomorrow.humidity}}%</h3>
				<h3>Sunrise: {{cityWeather.tomorrow.sunriseSunset.sunrise}} EST</h3>
				<h3>Sunset: {{cityWeather.tomorrow.sunriseSunset.sunset}} EST</h3>
				<i [class]="weatherIcon(cityWeather.tomorrow.icon)" title="{{cityWeather.tomorrow.summary}}"></i>
			</section>
		</div>
	</div>
	<div class="_search-city__days">
		<div class="_search-city-days__day" *ngFor='let day of longTermForecast'>
			<div class="_search-city-days_day__day">{{convertUnixDate(day.time, 'dddd')}}</div>
			<div class="_search-city-days_day__summary">{{day.summary}}</div>
			<div class="_search-city-days_day__icon"><i [class]="weatherIcon(day.icon)" title="{{day.summary}}"></i></div>
			<div class="_search-city-days_day__temperature">
				<span>{{roundFigures(day.temperatureHigh)}}</span>&deg; /
				<span>{{roundFigures(day.temperatureLow)}}</span>&deg;
			</div>
		</div>
	</div>
</div>
